# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.*

# Data & secrets
data/
*.csv
*.parquet
*.h5
*.db
*.sqlite
configs/secrets.yaml

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Build / dist
build/
dist/
*.log
